@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

}

/* BODY */

html,
body {
    width: 100%;
    height: 100vh;
    background-color: #13131F;
    transition: 0.3s;
    scroll-behavior: smooth;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #13131F;
    width: 100%;
    min-height: 100vh;
    border-bottom: 1px solid #2eb8f8;
    border-image-slice: 1;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: #13131F;
    border-bottom: 1px solid #2eb8f8;
    border-image-slice: 1;
    z-index: 1;
    transition: background-color 0.5s ease-in-out;
    position: fixed;
}

/* HEADER MUDA DE COR SCROLL */

header.scrolled {
    background-color: #2eb8f8;
    border-bottom: 1px solid #ffffff;
}

header.scrolled a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    transition: 0.9s;
}

header.scrolled i {
    color: #ffffff;
}

header.scrolled #button span {
    background-color: #ffffff;
}

/* ÍCONE MENU HAMBURGUER */

.burger-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button-burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    background-color: transparent;
    gap: 6px;
}

#button-burger-menu:hover {
    cursor: pointer;
}

#button-burger-menu span {
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: all 0.4s;
}

#button-burger-menu.active span:nth-child(2) {
    opacity: 0;
    width: 0;
}

#button-burger-menu.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#button-burger-menu.active span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* LISTA DO MENU */

.menu-lista {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.link-menu-lista {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
}

/* PROFILE */

.profile-name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    width: 50%;
    padding-left: 80px;
}

.profile-name h1 {
    font-size: 45px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

.profile-name h2 {
    font-size: 45px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: #24abf2; 
}

.profile-name  h3 {
    font-size: 35px;
    color: #828282;
    font-weight: 600;
    padding-bottom: 1.5rem;
}

h3::after {
    content: '|';
    opacity: 0;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
    animation-delay: 3s;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-right: 100px;
}

.profile-photo img {
    width: 300px;
    height: 300px;
    animation: float 3s ease-in-out infinite;
}

/* EFEITO IMAGEM FLUTUANDO */

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-18px);
    }
}

/* SOBRE DESCRIÇÃO */

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    background-color: #13131F;
    width: 100%;
    gap: 40px;
}

.about h1 {
    font-size: 40px;
    color: #ffffff;
}

.about p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 28px;
    color: #828282;
}

/* HABILIDADES */

.my-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 40px;
}

.skills-h1 {
    font-size: 40px;
    color: #ffffff;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    padding-left: 6%;
    padding-right: 6%;
}

.skills-div {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 120px;
    background-color: #272626;
    border-top-left-radius: 20px;
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #2e337a, #004cd8, #0086f3);
    border-image-slice: 1;
    box-sizing: border-box;
    transition: 0.7s;
    margin-bottom: 20px;
    gap: 5px;
}

.skills-div h1 {
    font-size: 40px;
    color: #ffffff;
}

.skills-div p {
    font-size: 15px;
    color: #66A5FF;
}

.skills-div:hover {
    transform: scale(1.1);
}

/* PROJETOS */


#pai {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background-color: transparent;
    transition: 0.3s;
}

#pai:hover {
    transform: scale(1.1);
}

#primeiradiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    width: 400px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    z-index: 0;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #8be7ff, #2eb8f8, #004cd8);
    border-image-slice: 1;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    background-image: url('/Users/DIL-BLACK/Documents/sites/sites/meu portfólio/imagem/projetos.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#segundadiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color: #212121;
    width: 400px;
    height: 60px;
    top: -20%;
    transition: 0.9s;
    border-radius: 0 0 15px 15px;
    opacity: 0;
}

#segundadiv h1 {
    font-size: 12px;
    color: aliceblue;
    font-family: 'DM Sans', sans-serif;
}

#button {
    padding: 2px 8px;
    background-color: #212121;
    color: #fff;
    border-radius: 1rem;
    border: 2px solid #24abfa;
    cursor: pointer;
    font-size: 11px;
    font-weight: 600;
    font-family: 'DM Sans', sans-serif;
}

/* FOOTER */

footer {
    width: 100%;
    height: 400px;
}

/* CORES BARRA DE ROLAGEM */

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #24abf2;
    border-radius: 0px;

}

::-webkit-scrollbar-track {
    background-color: #13131F;
}
